.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  padding: 20px 40px;
  font-size: 18px;
  background-color: #eec59e; /* Cappuccino color */
  border: none;
  color: #fff;
  cursor: pointer;
}

.button.on {
  background-color: #9e7e60; /* Darker cappuccino color */
}
